{% extends "core/base.html" %}

{% block title %}Education{% endblock title %}

{% block content %}

  <h1 class="text-center m-5">Education</h1>

  <div class="row row-cols-auto d-flex justify-content-around">
    {% for education in education.list %}
    <div class="mx-auto card text-bg-light p-3 m-3" style="width: 25rem;">
      {% if education.cert_image %}
        <img
          srcset="{{ education.image_medium.url }} 703w, {{ education.cert_image.url }} 800w"
          sizes="(max-width: 688px) 703px,
                 800px"
          src="{{ education.cert_image.url }}"
          alt="{{ education }}" class="card-img-top object-fit-contain border rounded"
          width="364px" height="364px" />
      {% elif education.technology.image %}
      <img
        srcset="{{ education.technology.image_small.url }} 703w, {{ education.technology.image_medium.url }} 800w"
        sizes="(max-width: 688px) 703px,
               800px"
        src="{{ education.technology.image_medium.url }}"
        alt="{{ education.technology }}" class="card-img-top object-fit-contain border rounded" />
      {% endif %}
      <div class="card-body text-center">
        <h5 class="card-title">{{ education.course|title }}</h5>
        <hr class="border border-dark border-3 opacity-75">
        <h5>Technology</h5>
        <p class="card-text">{{ education.technology }}</p>
        <hr class="border border-dark border-3 opacity-75">
        {% if education.completed and not education.certificate %}
          <h5>Completed</h5>
          <p class="card-text">No certificate available.</p>
          <hr class="border border-dark border-3 opacity-75">
        {% endif %}
        {% if education.active %}
          <p class="card-text">Currently studying.</p>
        {% endif %}
      </div>
    </div>
    {% endfor %}
  </div>
  <hr class="border border-danger border-2 opacity-50">
<h2 class="text-center m-5">Education Goals</h2>

<table class="table table-dark table-hover p-3 m-3 max-lg mx-auto">
  <thead>
    <tr>
      <th scope="col">Subject</th>
      <th scope="col">Details</th>
    </tr>
  </thead>
  <tbody>
    {% for goal in education.goal %}
      <tr>
        <td>{{ goal }}</td>
        <td>{{ goal.details }}</td>
      </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock content %}
